@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<div style="display:grid;grid-template-columns:repeat(4,1fr);grid-gap:1rem;">

    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <a class="text-dark" asp-page="/Admin/Products/Index">
                <h5 class="card-title">Products</h5>
            </a>
            <h2 class="card-subtitle mb-2 text-muted">@Model.ProductCount</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <a class="text-dark" asp-page="/Admin/Brands/Index">
                <h5 class="card-title">Brands</h5>
            </a>
            <h2 class="card-subtitle mb-2 text-muted">@Model.BrandCount</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <a class="text-dark" asp-page="/Admin/Reviews/Index">
                <h5 class="card-title">Reviews</h5>
            </a>
            <h2 class="card-subtitle mb-2 text-muted">@Model.ReviewCount</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <a class="text-dark" asp-page="/Admin/Categories/Index">
                <h5 class="card-title">Categories</h5>
            </a>
            <h2 class="card-subtitle mb-2 text-muted">@Model.CategoryCount</h2>
        </div>
    </div>

</div>