<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WE LOVE DRUGS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css"/>

    <mini-profiler/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

<profile name="Main Content">

    @await Html.PartialAsync("./Partials/Navbar")

    @if (ViewData["ShowHero"] is bool)
    {
        @await Html.PartialAsync("./Partials/Hero")
    }

    @* https://place-hold.it/120x600/aaa/fff *@

    @if (ViewData["ShowLayoutAds"] is bool)
    {
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-md-2">
                    <div class="d-flex flex-column position-sticky" style="top: calc(calc(100vh - 720px) / 2)">
                        <img class="ml-auto rounded" src="https://place-hold.it/120x720/aaa/fff.jpg" />
                    </div>
                </div>
                <div class="col-md-8">
                    <img class="ml-auto rounded w-100 mb-3" src="https://place-hold.it/1200x100/aaa/fff.jpg" />

                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
                <div class="col-md-2">
                    <div class="d-flex flex-column position-sticky" style="top: calc(calc(100vh - 720px) / 2)">
                        <img class="mr-auto rounded" src="https://place-hold.it/120x720/aaa/fff.jpg" />
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container py-5">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    }

    @await Html.PartialAsync("Partials/CookiePolicy")

    @await Html.PartialAsync("./Partials/Footer")

</profile>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", false)
</body>
</html>