@using Newtonsoft.Json
@using TheWebShop.Common.Models
@using TheWebShop.Services.BasketService
@inject IBasketService BasketService;

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Basket">
            <i class="fas fa-shopping-cart fa-fw"></i>
            <span class="badge badge-light">@await BasketService.GetBasketCount(Context)</span>
        </a>
    </li>
</ul>
