
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - WE <i class="fas fa-heart text-danger"></i> DRUGS - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>