<div class="d-flex flex-column align-items-center justify-content-center w-100 position-relative mt-n3 bg-dark" style="height: calc(66vh - 57px);">
    <div class="text-center position-absolute text-light" style="left:10%;right:10%;z-index:10">
        <h1 class="m-0">WE SELL ILLICIT DRUGS</h1>
        <small>Aliquam et volutpat elit. Fusce consequat sit amet arcu a dapibus.</small>
    </div>
    <img src="@Url.Content("~/images/hero.jpg")" style="pointer-events:none;height:100%;width:100%;object-fit:cover;filter:grayscale(0.66);opacity:0.66;" />
</div>