<div class="d-flex flex-column align-items-center justify-content-center w-100 position-relative mt-n3 bg-dark" style="height: calc(100vh - 57px);">
    <div class="text-center position-absolute text-light" style="left:10%;right:10%;z-index:10">
        <h1>WE SELL ILLICIT DRUGS</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <img src="@Url.Content("~/images/hero.jpg")" style="height:100%;width:100%;object-fit:cover;filter:grayscale(0.66);opacity:0.66;" />
</div>