@model IndexModel

<div class="card mb-3">
    <div class="card-body">
        <button class="btn p-0" type="button" data-toggle="collapse" data-target="#categoriesCollapse" aria-expanded="false" aria-controls="categoriesCollapse">
            <h5 class="card-title m-0">Categories</h5>
        </button>

        <div id="categoriesCollapse" class="collapse show mt-2">

            <fieldset id="categories">

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" asp-for="@Model.Filter.Category" id="categories_all" value="" checked onchange="this.form.submit()">
                        All
                    </label>
                </div>

                @foreach (var category in Model.Categories)
                {
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="@Model.Filter.Category" id="category_@category.EntityId" value="@category.EntityId" onchange="this.form.submit()">
                            @category.Name
                        </label>
                    </div>
                }

            </fieldset>

        </div>
    </div>
</div>