@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["ShowHero"] = true;
}

<div class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin velit quam, non mattis purus ultricies eget.
    Quisque imperdiet turpis eu augue fringilla dapibus. Nullam leo sem, facilisis a faucibus vel, scelerisque vitae ipsum.
    Quisque in malesuada nibh, sed convallis neque. Nam urna neque, ultrices ornare magna at, placerat eleifend sapien.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet placerat massa.
    Aenean magna lorem, consequat ut ex in, vestibulum iaculis purus. Vestibulum finibus urna ipsum, ut maximus dolor ullamcorper vel.
    Suspendisse pharetra fringilla interdum. Ut egestas enim sed justo vestibulum blandit.
    Aliquam euismod dapibus felis, ut pellentesque lacus tempor non.
</div>

<section class="d-flex flex-column mt-5">
    <div class="d-flex flex-column align-items-start mb-3">
        <h3 class="m-0">Most Popular Products</h3>
        <small class="text-muted">Duis fermentum ligula ac facilisis malesuada. Etiam vitae massa libero.</small>
    </div>

    <div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));grid-gap:1rem;">

        @foreach (var product in Model.MostPopularProducts)
        {
            @await Html.PartialAsync("Shared/Partials/ProductCard", product)
        }

    </div>
</section>

<section class="d-flex flex-column mt-5">
    <div class="d-flex flex-column align-items-start mb-3">
        <h3 class="m-0">Newest Products</h3>
        <small class="text-muted">Duis fermentum ligula ac facilisis malesuada. Etiam vitae massa libero.</small>
    </div>

    <div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));grid-gap:1rem;">

        @foreach (var product in Model.NewestProducts)
        {
            @await Html.PartialAsync("Shared/Partials/ProductCard", product)
        }

    </div>
</section>

<section class="d-flex flex-column align-items-center mt-5">
    <a asp-page="/Products/Index" class="text-decoration-none">
        <h5 class="m-0 text-muted">See all products...</h5>
    </a>
</section>
