@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin velit quam, non mattis purus ultricies eget. Quisque imperdiet turpis eu augue fringilla dapibus. Nullam leo sem, facilisis a faucibus vel, scelerisque vitae ipsum. Quisque in malesuada nibh, sed convallis neque. Nam urna neque, ultrices ornare magna at, placerat eleifend sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet placerat massa. Aenean magna lorem, consequat ut ex in, vestibulum iaculis purus. Vestibulum finibus urna ipsum, ut maximus dolor ullamcorper vel. Suspendisse pharetra fringilla interdum. Ut egestas enim sed justo vestibulum blandit. Aliquam euismod dapibus felis, ut pellentesque lacus tempor non. Etiam et erat eget nibh condimentum sodales.

    Donec vitae erat hendrerit, hendrerit lectus at, faucibus odio. Sed vel urna mattis, finibus nisl nec, blandit ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce vel tortor venenatis, vulputate nisl eu, pellentesque ante. Aenean facilisis, justo ut vestibulum porttitor, purus est rhoncus felis, nec laoreet est lectus quis lorem. Nam sit amet auctor lacus. Fusce laoreet erat quis tincidunt semper. Aenean vel augue pharetra, blandit nisi vel, iaculis erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    Donec mollis, turpis quis ultrices facilisis, turpis mauris fringilla tellus, at porta nibh odio sit amet ipsum. Quisque nisi lacus, sodales ut libero malesuada, pulvinar fringilla nunc. Vestibulum aliquam convallis velit eu dapibus. Phasellus laoreet, dui sit amet luctus facilisis, velit magna pretium urna, nec luctus diam metus eu nulla. Sed rutrum libero euismod odio imperdiet cursus. Fusce a risus neque. Maecenas aliquet finibus lorem, ac hendrerit nulla posuere id.

    Donec luctus eget erat vel vestibulum. Suspendisse lobortis turpis eget ante egestas, sit amet volutpat odio lacinia. Phasellus tincidunt vel arcu posuere sollicitudin. Nullam at accumsan est, id mollis dui. Quisque sit amet imperdiet magna. Sed nisi enim, varius sit amet efficitur a, cursus vel nisi. Quisque at luctus ex, ac interdum quam. Mauris viverra turpis ac viverra dapibus. Nam sagittis semper tincidunt. Sed condimentum viverra magna, at elementum mi tristique interdum.

    Duis ligula lacus, luctus sit amet fringilla at, commodo eget mauris. Pellentesque volutpat vitae libero eu hendrerit. Praesent accumsan quis ex id viverra. Vestibulum rutrum libero id urna porta, a placerat magna suscipit. Ut bibendum nulla at ultricies fermentum. Morbi felis ligula, scelerisque posuere dapibus nec, finibus eget massa. Suspendisse blandit non ligula ac dictum. Maecenas sem purus, venenatis vitae tellus sed, vestibulum blandit eros. Suspendisse lorem nisl, tristique ut auctor ut, venenatis at orci. Fusce ut lorem ultricies, finibus massa at, maximus sem. Donec semper interdum urna at lobortis. Mauris sed lacus augue.
</div>
