@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="mb-4">
    <h1 class="m-0">@ViewData["Title"]</h1>
    <small class="text-muted">Quisque at dolor sit amet felis rhoncus euismod id vitae massa.</small>
</div>

<h4>Lorem ipsum</h4>
<p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam iaculis arcu vitae efficitur. Sed
    sollicitudin turpis id enim volutpat, vel dapibus velit ultrices. In quis nibh id ex mattis consectetur. Fusce sem
    dui, sollicitudin sit amet sollicitudin iaculis, tempor ut erat. Vestibulum non urna quis tellus facilisis congue.
    Quisque at dolor sit amet felis rhoncus euismod id vitae massa. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos.
</p>
<p class="text-justify">
    <ul>
        <li>
            Vestibulum pharetra nisi non erat pretium fringilla.
        </li>
        <li>
            Integer gravida neque placerat convallis elementum.
        </li>
        <li>
            Maecenas finibus lectus sit amet nulla porttitor interdum.
        </li>
        <li>
            Cras suscipit tortor ut lorem vehicula, tincidunt vehicula nulla rutrum.
        </li>
    </ul>
</p>
<h5>Maecenas quis posuere</h5>
<p class="text-justify">
    Maecenas quis posuere tortor, non fringilla nibh. Nam blandit felis lacinia est sodales sollicitudin. Curabitur
    cursus, orci quis porttitor sodales, libero magna molestie odio, ac ornare mauris augue ut risus. Duis egestas ante
    at neque dapibus, aliquet eleifend ante sagittis. Proin orci nisi, tempor eu lorem a, consequat lobortis lacus.
    Fusce gravida justo ut massa vulputate, eu maximus orci aliquam. Fusce laoreet orci eu nibh egestas, in congue
    lectus eleifend. Cras non dui ac quam hendrerit auctor. In hac habitasse platea dictumst.
</p>
<h5>Etiam in augue tempus</h5>
<p class="text-justify">
    Etiam in augue tempus, vulputate odio id, varius orci. Vivamus luctus, felis ut condimentum porta, nisi nisl aliquam
    nunc, a convallis sapien metus vitae turpis. Morbi auctor nunc dui, non tincidunt orci pharetra vitae. Morbi vel ex
    et ipsum iaculis mattis. Vivamus condimentum, nisi non pellentesque dapibus, enim est tristique odio, vel condimentum
    dolor leo eget ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam
    quis faucibus nibh. Aliquam vitae magna fermentum, auctor erat et, condimentum sem. Mauris convallis, felis eu
    fermentum elementum, sem metus rutrum massa, id placerat sem erat quis nunc. Vivamus efficitur lectus a tellus
    facilisis scelerisque. Mauris volutpat sapien vitae nibh faucibus, cursus varius lacus efficitur. Cras vel egestas
    ante. Aenean auctor eu est eu sollicitudin. In viverra posuere ipsum, quis tristique felis. Sed maximus lobortis
    lorem dictum efficitur. Vivamus mattis risus eget ante dignissim dictum non nec arcu.
</p>
<h5>Morbi at neque dapibus</h5>
<p class="text-justify">
    Morbi at neque dapibus, ultrices augue eu, pellentesque magna. In cursus accumsan leo ac pellentesque. Morbi eu mi
    id nisl commodo imperdiet sed ut justo. Mauris dapibus, risus nec imperdiet bibendum, arcu lorem ullamcorper velit,
    non rutrum nisi tortor quis nisl. In vitae velit metus. Cras vehicula, enim at luctus consectetur, justo massa
    pulvinar lectus, non sagittis nibh mi quis nulla. Phasellus ultricies, tortor suscipit rhoncus tincidunt, purus
    enim viverra ligula, sit amet ornare magna mi sed lectus. Sed imperdiet at dolor sodales convallis. Fusce finibus,
    elit non rutrum imperdiet, justo ligula semper lorem, quis maximus tortor dolor quis sapien. Aenean tellus orci,
    pharetra ac sagittis nec, gravida nec magna. Pellentesque luctus nibh non consequat elementum. Quisque auctor eros
    magna, id finibus nisi varius id. Vivamus accumsan cursus nisi. Nullam augue metus, sodales quis nunc vel, rutrum
    porttitor turpis.
</p>
<h5>Aliquam scelerisque</h5>
<p class="text-justify">
    Aliquam scelerisque felis id libero hendrerit, non venenatis neque congue. Donec nunc eros, commodo id porta a, lobortis malesuada sem. Vivamus consequat dictum purus quis mattis. Duis sodales consequat maximus. Donec pulvinar
    tortor in velit pellentesque eleifend. Nam convallis mi nibh, egestas vestibulum lacus porttitor ac. Phasellus vel
    purus ut elit dignissim tempor. Sed pretium, mi lacinia viverra luctus, ex velit hendrerit sem, ac rutrum erat nisi
    quis nulla. Quisque egestas est vel lobortis porta. Pellentesque ex lectus, molestie efficitur quam non, imperdiet
    mattis ligula. Nullam tincidunt interdum ipsum, vitae pretium tellus luctus id. Proin laoreet nunc vel sodales
    tempor. Nam et consectetur risus, et rutrum magna. Ut sit amet iaculis est. Duis sed nisl metus.
</p>